Repository Showhey798/gradflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-format-check, cmake-format-check, cpp-build-test, python-quality

cpp-format-check:
  name: C++ Format Check (CI validation)
  entry: bash scripts/ci-format-check.sh
  language: system
  pass_filenames: false

cmake-format-check:
  name: CMake Format Check (CI validation)
  entry: bash scripts/ci-format-cmake.sh
  language: system
  pass_filenames: false

cpp-build-test:
  name: C++ Build & Test
  entry: bash scripts/ci-test-cpp.sh
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

python-quality:
  name: Python Quality Checks
  entry: bash scripts/ci-lint-python.sh
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

docs: Add AddressSanitizer and performance benchmarking documentation
  README.md
  tests/CMakeLists.txt
Due: cmake-format-check, cpp-build-test

feat: Implement Phase 1 integration tests
  tests/test_phase1_integration.cpp
Due: cpp-format-check, cpp-build-test

feat: Implement Phase 1 integration tests (#6) (#55)
  README.md
  tests/CMakeLists.txt
  tests/test_phase1_integration.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

Add new agents
  .claude/agents/ml-code-reviewer.md
  .claude/agents/ml-project-conductor.md
Due: none

Add new agents (#56)
  .claude/agents/ml-code-reviewer.md
  .claude/agents/ml-project-conductor.md
Due: none

feat: Implement Operation base class for Phase 2.1 (#7)
  include/gradflow/autograd/operation.hpp
  tests/CMakeLists.txt
  tests/test_operation.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

fix: Add missing <memory> header to device.hpp
  include/gradflow/autograd/device.hpp
Due: cpp-format-check, cpp-build-test

fix: Add missing <stdexcept> and <utility> headers to device.cpp
  src/autograd/device.cpp
Due: cpp-format-check, cpp-build-test

fix: Fix Clang-Tidy warnings and Sanitizer timeout issues
  docs/ARCHITECTURE.md
  include/gradflow/autograd/operation.hpp
  tests/test_operation.cpp
  tests/test_phase1_integration.cpp
Due: cpp-format-check, cpp-build-test

fix: Resolve remaining Clang-Tidy warnings
  include/gradflow/autograd/allocator.hpp
  include/gradflow/autograd/device.hpp
  include/gradflow/autograd/ops/elementwise.hpp
  include/gradflow/autograd/ops/matmul.hpp
  include/gradflow/autograd/shape.hpp
  include/gradflow/autograd/storage.hpp
  include/gradflow/autograd/tensor.hpp
Due: cpp-format-check, cpp-build-test

style: Fix Clang-Tidy const variable naming convention warnings
  include/gradflow/autograd/allocator.hpp
  include/gradflow/autograd/device.hpp
  include/gradflow/autograd/ops/elementwise.hpp
  include/gradflow/autograd/ops/matmul.hpp
  include/gradflow/autograd/tensor.hpp
Due: cpp-format-check, cpp-build-test

style: Fix remaining Clang-Tidy const naming warnings in shape.hpp
  include/gradflow/autograd/shape.hpp
Due: cpp-format-check, cpp-build-test

style: Fix final Clang-Tidy warnings for const naming and malloc
  include/gradflow/autograd/allocator.hpp
  include/gradflow/autograd/tensor.hpp
Due: cpp-format-check, cpp-build-test

chore: Disable malloc-related Clang-Tidy checks
  .clang-tidy
  include/gradflow/autograd/allocator.hpp
Due: cpp-format-check, cpp-build-test

fix: Resolve Clang-Tidy warnings in test files
  tests/.clang-tidy
Due: none

fix: Exclude tests/ directory from Clang-Tidy CI checks
  .github/workflows/code_quality.yml
Due: none

[Phase 2.1] Implement Operation base class (#7) (#57)
  .github/workflows/code_quality.yml
  docs/ARCHITECTURE.md
  include/gradflow/autograd/allocator.hpp
  include/gradflow/autograd/device.hpp
  include/gradflow/autograd/operation.hpp
  include/gradflow/autograd/ops/elementwise.hpp
  include/gradflow/autograd/ops/matmul.hpp
  include/gradflow/autograd/shape.hpp
  include/gradflow/autograd/storage.hpp
  include/gradflow/autograd/tensor.hpp
  src/autograd/device.cpp
  tests/.clang-tidy
  tests/CMakeLists.txt
  tests/test_operation.cpp
  tests/test_phase1_integration.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

fix: Improve sanitizer timeout handling for Phase1IntegrationTest
  tests/CMakeLists.txt
  tests/test_phase1_integration.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

fix: Correct CMake timeout configuration for phase1_integration_test
  tests/CMakeLists.txt
Due: cmake-format-check, cpp-build-test

fix: Improve sanitizer timeout handling for Phase1IntegrationTest (#58)
  tests/CMakeLists.txt
  tests/test_phase1_integration.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

feat: Implement Variable class for automatic differentiation (#8)
  PROGRESS.md
  include/gradflow/autograd/variable.hpp
  tests/CMakeLists.txt
  tests/test_variable.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

feat: Implement Variable class for automatic differentiation (#8) (#59)
  PROGRESS.md
  include/gradflow/autograd/variable.hpp
  tests/CMakeLists.txt
  tests/test_variable.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

feat: Implement basic operations with automatic differentiation (#9)
  PROGRESS.md
  docs/ISSUE_9_DESIGN.md
  include/gradflow/autograd/ops/add.hpp
  include/gradflow/autograd/ops/div.hpp
  include/gradflow/autograd/ops/exp.hpp
  include/gradflow/autograd/ops/log.hpp
  include/gradflow/autograd/ops/matmul_op.hpp
  include/gradflow/autograd/ops/mul.hpp
  include/gradflow/autograd/ops/op_utils.hpp
  include/gradflow/autograd/ops/pow.hpp
  include/gradflow/autograd/ops/sqrt.hpp
  include/gradflow/autograd/ops/sub.hpp
  tests/CMakeLists.txt
  tests/test_ops_grad.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

docs: Update PROGRESS.md for Issue #9
  PROGRESS.md
Due: none

fix: Fix numerical gradient checking in op_utils.hpp
  include/gradflow/autograd/ops/op_utils.hpp
  tests/test_ops_grad.cpp
Due: cpp-format-check, cpp-build-test

style: Fix Clang-Tidy warnings in op_utils.hpp and matmul_op.hpp
  include/gradflow/autograd/ops/matmul_op.hpp
  include/gradflow/autograd/ops/op_utils.hpp
Due: cpp-format-check, cpp-build-test

[Phase 2.3] Implement basic operations with automatic differentiation (#9) (#60)
  PROGRESS.md
  docs/ISSUE_9_DESIGN.md
  include/gradflow/autograd/ops/add.hpp
  include/gradflow/autograd/ops/div.hpp
  include/gradflow/autograd/ops/exp.hpp
  include/gradflow/autograd/ops/log.hpp
  include/gradflow/autograd/ops/matmul_op.hpp
  include/gradflow/autograd/ops/mul.hpp
  include/gradflow/autograd/ops/op_utils.hpp
  include/gradflow/autograd/ops/pow.hpp
  include/gradflow/autograd/ops/sqrt.hpp
  include/gradflow/autograd/ops/sub.hpp
  tests/CMakeLists.txt
  tests/test_ops_grad.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

feat: Implement activation functions for neural networks (#10)
  docs/ISSUE_10_DESIGN.md
  docs/ISSUE_10_IMPLEMENTATION_STRUCTURE.md
  docs/ISSUE_10_PREREQUISITES.md
  docs/ISSUE_10_SUMMARY.md
  docs/ISSUE_10_TEST_STRATEGY.md
  include/gradflow/autograd/ops/elementwise.hpp
  include/gradflow/autograd/ops/gelu.hpp
  include/gradflow/autograd/ops/leaky_relu.hpp
  include/gradflow/autograd/ops/log_softmax.hpp
  include/gradflow/autograd/ops/reduction.hpp
  include/gradflow/autograd/ops/relu.hpp
  include/gradflow/autograd/ops/sigmoid.hpp
  include/gradflow/autograd/ops/softmax.hpp
  include/gradflow/autograd/ops/tanh_op.hpp
  tests/CMakeLists.txt
  tests/test_activation_ops.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

fix: Apply Clang-Tidy naming convention for constexpr variables in GELU
  include/gradflow/autograd/ops/gelu.hpp
Due: cpp-format-check, cpp-build-test

refactor: Address AI code review feedback for activation functions
  include/gradflow/autograd/ops/gelu.hpp
  include/gradflow/autograd/ops/relu.hpp
  include/gradflow/autograd/ops/sigmoid.hpp
  include/gradflow/autograd/ops/softmax.hpp
Due: cpp-format-check, cpp-build-test

fix: Remove const qualifier from local variables in GELU to satisfy Clang-Tidy
  include/gradflow/autograd/ops/gelu.hpp
Due: cpp-format-check, cpp-build-test

feat: Implement activation functions for neural networks (#10) (#61)
  docs/ISSUE_10_DESIGN.md
  docs/ISSUE_10_IMPLEMENTATION_STRUCTURE.md
  docs/ISSUE_10_PREREQUISITES.md
  docs/ISSUE_10_SUMMARY.md
  docs/ISSUE_10_TEST_STRATEGY.md
  include/gradflow/autograd/ops/elementwise.hpp
  include/gradflow/autograd/ops/gelu.hpp
  include/gradflow/autograd/ops/leaky_relu.hpp
  include/gradflow/autograd/ops/log_softmax.hpp
  include/gradflow/autograd/ops/reduction.hpp
  include/gradflow/autograd/ops/relu.hpp
  include/gradflow/autograd/ops/sigmoid.hpp
  include/gradflow/autograd/ops/softmax.hpp
  include/gradflow/autograd/ops/tanh_op.hpp
  tests/CMakeLists.txt
  tests/test_activation_ops.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

t pAdd new agents
  .claude/agents/github-issue-implementer.md
  .claude/agents/ml-code-reviewer.md
  .claude/agents/ml-project-conductor.md
Due: none

docs: Add comprehensive implementation guidelines from original prompt
  .claude/agents/github-issue-implementer.md
Due: none

Add new agents (#62)
  .claude/agents/github-issue-implementer.md
  .claude/agents/ml-code-reviewer.md
  .claude/agents/ml-project-conductor.md
Due: none

feat: Implement loss functions for Phase 2.5
  PROGRESS.md
  docs/ISSUE_11_loss_functions_design.md
  include/gradflow/autograd/ops/loss.hpp
  tests/CMakeLists.txt
  tests/test_loss_grad.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

refactor: Optimize loss functions based on code review feedback
  include/gradflow/autograd/ops/loss.hpp
Due: cpp-format-check, cpp-build-test

[Phase 2.5] Implement loss functions (#11) (#63)
  PROGRESS.md
  docs/ISSUE_11_loss_functions_design.md
  include/gradflow/autograd/ops/loss.hpp
  tests/CMakeLists.txt
  tests/test_loss_grad.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

feat: Implement Optimizer framework with SGD, Adam, and AdamW (#12)
  include/gradflow/optim/adam.hpp
  include/gradflow/optim/optimizer.hpp
  include/gradflow/optim/sgd.hpp
  tests/test_optimizer.cpp
Due: cpp-format-check, cpp-build-test

fix: Address ml-code-reviewer feedback for Optimizer implementation
  include/gradflow/optim/adam.hpp
  include/gradflow/optim/sgd.hpp
  tests/test_optimizer.cpp
Due: cpp-format-check, cpp-build-test

Path conditions:
  cpp-format-check: any of: \.(cpp|hpp|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cmake-format-check: any of: CMakeLists\.txt|\.cmake$
  cpp-build-test: any of: \.(cpp|hpp|h|cmake|txt)$
  python-quality: any of: \.py$
