Repository Showhey798/gradflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: cpp-format-check, cmake-format-check, cpp-build-test, python-quality

cpp-format-check:
  name: C++ Format Check (CI validation)
  entry: bash scripts/ci-format-check.sh
  language: system
  pass_filenames: false

cmake-format-check:
  name: CMake Format Check (CI validation)
  entry: bash scripts/ci-format-cmake.sh
  language: system
  pass_filenames: false

cpp-build-test:
  name: C++ Build & Test
  entry: bash scripts/ci-test-cpp.sh
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

python-quality:
  name: Python Quality Checks
  entry: bash scripts/ci-lint-python.sh
  language: system
  pass_filenames: false
  stages:
  - pre-push
  verbose: true

fix: Address Clang-Tidy errors in optimizer implementation
  include/gradflow/optim/adam.hpp
  include/gradflow/optim/optimizer.hpp
  include/gradflow/optim/sgd.hpp
  tests/test_optimizer.cpp
Due: cpp-format-check, cpp-build-test

fix: Address remaining Clang-Tidy errors
  include/gradflow/optim/adam.hpp
  include/gradflow/optim/optimizer.hpp
  include/gradflow/optim/sgd.hpp
  tests/test_optimizer.cpp
Due: cpp-format-check, cpp-build-test

fix: Fix NOLINTNEXTLINE syntax for Clang-Tidy
  include/gradflow/optim/optimizer.hpp
Due: cpp-format-check, cpp-build-test

[Phase 2.6] Implement Optimizer framework (#12) (#64)
  include/gradflow/optim/adam.hpp
  include/gradflow/optim/optimizer.hpp
  include/gradflow/optim/sgd.hpp
  tests/test_optimizer.cpp
Due: cpp-format-check, cpp-build-test

feat: Implement Phase 2 integration tests for XOR problem
  docs/ISSUE_13_Phase2_Integration_Design.md
  include/gradflow/autograd/ops/reduction.hpp
  include/gradflow/autograd/ops/variable_ops.hpp
  tests/CMakeLists.txt
  tests/test_phase2_integration.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

fix: Address ml-code-reviewer feedback on PR #65
  docs/ISSUE_13_Phase2_Integration_Design.md
  include/gradflow/autograd/ops/variable_ops.hpp
  include/gradflow/autograd/tensor.hpp
  tests/test_phase2_integration.cpp
Due: cpp-format-check, cpp-build-test

fix: Rename mse_loss to mseLoss to comply with Clang-Tidy naming convention
  include/gradflow/autograd/ops/variable_ops.hpp
  tests/test_phase2_integration.cpp
Due: cpp-format-check, cpp-build-test

[Phase 2] Implement integration tests for XOR problem (#13) (#65)
  docs/ISSUE_13_Phase2_Integration_Design.md
  include/gradflow/autograd/ops/reduction.hpp
  include/gradflow/autograd/ops/variable_ops.hpp
  include/gradflow/autograd/tensor.hpp
  tests/CMakeLists.txt
  tests/test_phase2_integration.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

feat: Implement Metal GPU Device and Allocator for Apple Silicon (#14)
  PROGRESS.md
  docs/ISSUE_14_metal_device_design.md
  include/gradflow/autograd/metal/allocator.hpp
  include/gradflow/autograd/metal/device.hpp
  src/CMakeLists.txt
  src/autograd/device.cpp
  src/autograd/metal/allocator.mm
  src/autograd/metal/device.mm
  src/autograd/metal/metal_device_impl.hpp
  tests/CMakeLists.txt
  tests/test_metal_device.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

fix: Address code review comments for Metal device implementation
  .clang-format
  include/gradflow/autograd/metal/device.hpp
  src/autograd/metal/allocator.mm
  src/autograd/metal/device.mm
  src/autograd/metal/metal_device_impl.hpp
  tests/test_metal_device.cpp
Due: cpp-format-check, cpp-build-test

refactor: Remove impl() method from MetalDevice for complete PIMPL encapsulation
  include/gradflow/autograd/metal/device.hpp
Due: cpp-format-check, cpp-build-test

feat: Implement Metal Compute Shader kernels for GPU acceleration (#15)
  docs/ISSUE_15_metal_kernels_design.md
  include/gradflow/autograd/metal/kernels.hpp
  src/CMakeLists.txt
  src/autograd/metal/kernels.metal
  src/autograd/metal/kernels.mm
  tests/CMakeLists.txt
  tests/test_metal_kernels.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

docs: Update PROGRESS.md for Issue #15 completion
  PROGRESS.md
Due: none

fix: Address reviewer feedback on PR #67
  include/gradflow/autograd/metal/allocator.hpp
  src/CMakeLists.txt
  src/autograd/metal/allocator.mm
  src/autograd/metal/kernels.metal
  src/autograd/metal/kernels.mm
  tests/test_metal_kernels.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

fix: Remove manual release of MTLBuffer to prevent memory leaks
  src/autograd/metal/kernels.mm
Due: none

test: Improve performance test accuracy with warmup and iterations
  include/gradflow/autograd/metal/kernels.hpp
  tests/test_metal_kernels.cpp
Due: cpp-format-check, cpp-build-test

[Phase 3.2] Implement Metal Compute Shader kernels for GPU acceleration (#15) (#67)
  PROGRESS.md
  docs/ISSUE_15_metal_kernels_design.md
  include/gradflow/autograd/metal/allocator.hpp
  include/gradflow/autograd/metal/kernels.hpp
  src/CMakeLists.txt
  src/autograd/metal/allocator.mm
  src/autograd/metal/kernels.metal
  src/autograd/metal/kernels.mm
  tests/CMakeLists.txt
  tests/test_metal_kernels.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

[Phase 3.3] Implement MemoryPool for efficient GPU memory management (#16)
  docs/ISSUE_16_memory_pool_design.md
  include/gradflow/autograd/memory_pool.hpp
  src/CMakeLists.txt
  src/autograd/memory_pool.cpp
  tests/CMakeLists.txt
  tests/test_memory_pool.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

fix: Handle GRADFLOW_HAS_METAL macro in memory_pool tests
  tests/test_memory_pool.cpp
Due: cpp-format-check, cpp-build-test

fix: Resolve CI failures in PR #68
  include/gradflow/autograd/memory_pool.hpp
  src/autograd/memory_pool.cpp
  tests/test_memory_pool.cpp
Due: cpp-format-check, cpp-build-test

fix: Add missing allocator.hpp include in test_memory_pool.cpp
  .clang-format
  tests/test_memory_pool.cpp
Due: cpp-format-check, cpp-build-test

fix: Use compatible AlignTrailingComments for clang-format-15
  .clang-format
Due: none

fix: Resolve CI failures for memory pool implementation
  include/gradflow/autograd/memory_pool.hpp
  src/autograd/memory_pool.cpp
  tests/test_memory_pool.cpp
Due: cpp-format-check, cpp-build-test

fix: Address CI failures for clang-format and cppcheck
  include/gradflow/autograd/memory_pool.hpp
  src/autograd/memory_pool.cpp
Due: cpp-format-check, cpp-build-test

fix: Adjust clang-format alignment for CI compatibility
  include/gradflow/autograd/memory_pool.hpp
  src/autograd/memory_pool.cpp
Due: cpp-format-check, cpp-build-test

fix: Disable AlignTrailingComments for clang-format consistency
  .clang-format
  include/gradflow/autograd/memory_pool.hpp
Due: cpp-format-check, cpp-build-test

style: Move inline comments to separate lines in MemoryPoolStats
  include/gradflow/autograd/memory_pool.hpp
Due: cpp-format-check, cpp-build-test

fix: Skip PerformanceBenchmark test in Debug builds
  tests/test_memory_pool.cpp
Due: cpp-format-check, cpp-build-test

fix: Address critical review comments in MemoryPool implementation
  include/gradflow/autograd/memory_pool.hpp
  src/autograd/memory_pool.cpp
Due: cpp-format-check, cpp-build-test

fix: Fix CI issues (Cppcheck and IWYU)
  include/gradflow/autograd/memory_pool.hpp
  src/autograd/memory_pool.cpp
Due: cpp-format-check, cpp-build-test

[Phase 3.3] Implement MemoryPool for efficient GPU memory management (#16) (#68)
  .clang-format
  docs/ISSUE_16_memory_pool_design.md
  include/gradflow/autograd/memory_pool.hpp
  src/CMakeLists.txt
  src/autograd/memory_pool.cpp
  tests/CMakeLists.txt
  tests/test_memory_pool.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

[Phase 3.4] Implement Metal GPU automatic differentiation (#17)
  PROGRESS.md
  docs/ISSUE_17_metal_autograd_design.md
  include/gradflow/autograd/metal/grad_kernels.hpp
  include/gradflow/autograd/metal/kernels.hpp
  include/gradflow/autograd/tensor.hpp
  src/CMakeLists.txt
  src/autograd/metal/grad_kernels.metal
  src/autograd/metal/grad_kernels.mm
  src/autograd/metal/kernels.metal
  src/autograd/metal/kernels.mm
  tests/CMakeLists.txt
  tests/test_metal_ops_grad.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

docs: Update PROGRESS.md for Issue #17 PR #69
  PROGRESS.md
Due: none

fix: Add nil check for Metal buffer allocation in grad_kernels
  src/autograd/metal/grad_kernels.mm
Due: none

fix: Address ml-code-reviewer feedback for PR #69
  src/autograd/metal/grad_kernels.metal
  src/autograd/metal/grad_kernels.mm
  tests/test_metal_ops_grad.cpp
Due: cpp-format-check, cpp-build-test

[Phase 3.4] Implement Metal GPU automatic differentiation (#17) (#69)
  PROGRESS.md
  docs/ISSUE_17_metal_autograd_design.md
  include/gradflow/autograd/metal/grad_kernels.hpp
  include/gradflow/autograd/metal/kernels.hpp
  include/gradflow/autograd/tensor.hpp
  src/CMakeLists.txt
  src/autograd/metal/grad_kernels.metal
  src/autograd/metal/grad_kernels.mm
  src/autograd/metal/kernels.metal
  src/autograd/metal/kernels.mm
  tests/CMakeLists.txt
  tests/test_metal_ops_grad.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

feat: Implement Phase 3 integration tests for Metal GPU Neural Network (#18)
  tests/CMakeLists.txt
  tests/test_phase3_integration.cpp
Due: cpp-format-check, cmake-format-check, cpp-build-test

refactor: Address ml-code-reviewer feedback for Phase 3 integration tests
  tests/test_phase3_integration.cpp
Due: cpp-format-check, cpp-build-test

Path conditions:
  cpp-format-check: any of: \.(cpp|hpp|h)$ and \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  cmake-format-check: any of: CMakeLists\.txt|\.cmake$
  cpp-build-test: any of: \.(cpp|hpp|h|cmake|txt)$
  python-quality: any of: \.py$
